---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Test">
  <div>Test</div>
</Layout>

<script>
  import { theme } from '@/stores/theme.js'


  // Initialize theme
  theme.init()
</script>
